@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter', sans-serif;
  --font-tag: 'JetBrains Mono', sans-serif;
  --font-system: system-ui, sans-serif;

  --color-gray-background: #030712;
  --color-primary: #2563EB;
  --color-white-100: #ffffff;

}

html {
  scroll-behavior: smooth;
}